.site-page-header-ghost-wrapper {
  padding: 2px;
  background-color: #131921;
}

.header {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.header-cart {
  position: absolute;
  right: -6rem;
  top: 1.7rem;
}

.header-btn {
  position: absolute;
  top: 0.2rem;
}

.site-page-subheader-ghost-wrapper {
  background-color: #232f3e;
  color: white;
  font-weight: 400;
  padding: 5px 25px;
}

.categories{
  color:white;
}

.categories:hover{
  cursor:pointer;
  color: #adadad; 
}


.logo {
  height: 40px;
  margin-right: 20px;
  position: absolute;
  left: -9rem;
}

.flag {
  height: 15px;
}

.header-icon {
  font-size: 30px;
}

.header-buttons {
  color: white;
}

.header-buttons:hover {
  cursor: pointer;
  color: #adadad;
}